.navbar{
    border-bottom: 1px solid #ffffff;
}
.navbar-custom {
    background: #0f47d4;
    height: 70px;
}
.main-section{
    background: #0f47d4;
}
.logo{
    margin-left: 15vh;
    margin-right: 10vh;
    width: 120px;
    margin-top: 2px;
}
nav .navbar-nav li a{
    color: white !important;
    margin-right: 15px;
    font-size: 14px;
}
.btn{
    margin-right: 85px;
}
.btn-first{
    margin-right: 5px;
}
.column-main-one{
    width: 64%;
    margin-left:15%;
}
h1{
    color: #ffffff;
}
.padding-top-col-main-one{
    padding-top: 5%;
}
.padding-top-col-main-one-others{
    padding-top: 15%;
}
.last-element{
    padding-bottom: 12%;
}
.main-button{
    width: 28% !important;
    margin-left: 3%;
}
.main-p{
    color: #ffffff;
}
.second-main-section{
    width: 45%;
    height: 100%;
    margin: 0 auto;
    margin-left: 36.5%;
}
.img-sec-one{
    width: 100%;
    padding-top: 5%;
}

.img-sec-two{
    position: absolute;
    right: 0%;
    width: 25.8%;
    opacity: 0.4;
}
.messageHeading{
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.msg-statement{
    text-align: center;
    color: #000000;
}

.message-paragraph{
    color: rgba(0, 0, 0, 0.608);
    font-size: 0.9rem;
    padding-right: 15%;
    margin-bottom: 1.5%;
    margin-left: 6%;
}
.message-link{
    font-size: 0.8rem;
    text-decoration: none;
    font-weight: 600;
    margin-left: 6%;
}
.message-icon{
    width: 9px;
    margin-left: 1%;
}
.messaging-card-container{
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
}
.messageIcons{
    width: 10%;
    margin-bottom: 2.5%;
    margin-left: 6%;
}
.message-heading{
    font-weight: 700;
    margin-bottom: 3%;
    font-size: 1.1rem;
    margin-left: 6%;
}
.message-card{
    margin-bottom: 4%;
}
.left-image{
    width: 68%;
    margin: 0 auto;
    margin-left: 30%;
}
.product-container{
    width: 90%;
    margin: 0 auto !important;
}
.product-feature-container{
    margin-top: 2%;
}
.product-icons{
    width: 35px;
    margin-right: 1%;
    margin-top: 1%;
}

.product-paragraph, .product-link{
    margin-left: 15%;
    position: relative;
    bottom: 15%;
}
.product-detail{
    margin-bottom: 3%;
}

.first-product-column{
    padding-top: 2%;
}
.resp-image{
    display: none;
}
.dark-container{
    background-color: #000000;
    color: #ffffff;
}
.dark-container .product-paragraph{
    color: #ffffff96;
}
.dark-desk-image{
    margin: 0 auto;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.inner-testimonial{
    width: 90%;
    background-color: rgba(128, 128, 128, 0.107);
    margin: 3% auto;
}
.inner-logo{
    width: 10%;
    margin-top: 1%;
}
.testimonial-text{
    width: 45%;
    margin: 3% auto;
    font-size: 1.3rem;
    font-weight: 450;
    text-align: center;
    margin-bottom: 1%;
}
.ceo-image{
    width: 30px !important;
}
.ceo-name{
    font-weight: 500;
    font-size: 0.6rem;
}
.ceo-designation{
    font-size: 0.7rem !important;
}
.card{
    width: 10%;
    margin: 0 auto;
    background-color: transparent !important;
    border: none !important;
}
.ceo-details{
    margin-left: 3%;
}
.customer-heading-mbl{
    display: none;
}
.logo-container{
    margin-left: 48%;
    padding-top: 0.5%;
}
@media only screen and (max-width: 1200px){
    .img-sec-two{
        width: 52.5%;
    }
    .product-paragraph, .product-link{
        margin-left: 15%;
    }
    
}
@media only screen and (max-width: 992px){
    .resp-image{
        display: block;
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .desk-image{
        display: none;
    }
    .navbar-nav, .d-flex{
        position: relative;
        right: 2%;
        background: #496bc2;
        width: 100%;
    }
    .d-flex{
        position: relative;
        top: -8px;
    }
    .navbar-nav{
        margin-top: 23px;
        height: 150px;
    }
    nav .navbar-nav li a{
        color: white !important;
        margin-left: 15px;
        font-size: 14px;
        margin-top: 0;
    }
    .btn{
        margin: 5px 5px;
    }
    .logo{
        margin-left: 1vh;
        width: 100px;
        margin-top: 2px;
    }
    .main-button{
        width: 38% !important;
        margin-left: 2%;
    }
    .img-sec-two{
        width: 52.5%;
    }
    .column-main-one{
        margin-top: 10%;
    }
    .messaging-card-container{
        width: 100%;
    }
    .product-paragraph, .product-link{
        margin-left: 6%;
    }
    .product-heading{
        margin-left: 0;
    }
    .product-paragraph{
        margin-top: 0%;
    }
    .customer-heading-mbl{
        display: block;
    }
    .logo-container{
        margin-left: 2%;
    }
    .inner-logo{
        width: 14%;
    }
    .testimonial-text{
        margin: 3% auto;
        width: 98%;
        text-align: none;
    }
    .testimonial-text h5{
        font-size: 1.1rem;
    }
    .ceo-image{
        width: 50px !important;
    }
    .ceo-name{
        font-weight: 500;
        font-size: 0.6rem;
    }
    .ceo-designation{
        font-size: 0.7rem !important;
    }
    .card{
        width: 50%;
        margin: 0;
    }
    
    .ceo-details{
        margin-left: 3%;
    }
    .title-flex-box{
        position: relative;
        top: 5%;
    }
    .ceo-image{
        background-color: rgba(128, 128, 128, 0.107) !important;
    }
    .flex-row, .flex-column{
        background-color: rgba(128, 128, 128, 0);
    }
}

body{
    overflow-x: hidden;
}
@media only screen and (max-width: 800px){
    .product-paragraph, .product-link{
        margin-left: 7%;
    }
}
@media only screen and (max-width: 700px){
    .product-paragraph, .product-link{
        margin-left: 8%;
    }
}

@media (max-width: 576px) { 
    .navbar-nav, .d-flex{
        position: relative;
        right: 4%;
        background: #496bc2;
        width: 100%;
    }
    .main-button{
        width: 48% !important;
        margin-left: 3%;
    }
    .img-sec-two{
        width: 52.5%;
    }
    .messaging-card-container{
        width: 100%;
    }
    .product-paragraph, .product-link{
        margin-left: 10%;
    }
    .product-heading{
        margin-left: 0;
    }
    .inner-logo{
        width: 20%;
    }
    .logo-container{
        margin-left: 1%;
    }
    .testimonial-text h5{
        font-size: 0.9rem;
    }
    .ceo-image{
        width: 40px !important;
    }
    .ceo-name{
        font-weight: 500;
        font-size: 0.5rem;
    }
    .ceo-designation{
        font-size: 0.6rem !important;
    }
    .card{
        width: 50%;
        margin: 0;
        
    }
    .ceo-details{
        margin-left: 6%;
    }
    .flex-row, .flex-column{
        background-color: rgba(128, 128, 128, 0);
    }
}
@media (max-width: 320px) { 
    .navbar-nav, .d-flex{
        position: relative;
        right: 5%;
        background: #496bc2;
        width: 100%;
    }
    .main-button{
        width: 53% !important;
        margin-left: 3%;
    }
    .img-sec-two{
        width: 52.5%;
    }
    .messaging-card-container{
        width: 100%;
    }
    .product-paragraph, .product-link{
        margin-left: 16%;
    }
    .product-paragraph{
        margin-top: 25px;
    }
    .testimonial-text h5{
        font-size: 0.8rem;
    }
    .ceo-image{
        width: 30px !important;
    }
    .ceo-name{
        font-weight: 500;
        font-size: 0.5rem;
    }
    .ceo-designation{
        font-size: 0.6rem !important;
    }
    .card{
        width: 50%;
        margin: 0;
        
    }
    .ceo-details{
        margin-left: 6%;
    }
    
    .flex-row, .flex-column{
        background-color: rgba(128, 128, 128, 0);
    }
}